<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>
<header>
    {% block navbar %}
        {% include 'navbar/index.html.twig' %}
    {% endblock %}
</header>
<main>
{#    gestion des messages d'erreur#}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label == 'error' ? 'danger' : label }} alert-dismissible fade show" role="alert">
                {{ message }}
{#                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>#}
            </div>
        {% endfor %}
    {% endfor %}


    {% block body %}{% endblock %}
</main>
</body>
</html>
